.busca{
    text-align:center;
    padding:60px 20px;
}

.busca h1{
    font-size:42px;
    margin-bottom:30px;
}

.campo-busca{
    display:flex;
    justify-content:center;
    gap:10px;
}

.campo-busca input{
    width:500px;
    max-width:80%;
    padding:15px;
    border:none;
    border-radius:8px;
    font-size:16px;
}

.campo-busca button{
    padding:15px 25px;
    border:none;
    border-radius:8px;
    background:#00A8E1;
    color:white;
    cursor:pointer;
    font-weight:bold;
}

.campo-busca button:hover{
    background:#0087b8;
}

.card{
    text-align:center;
}

.card h3{
    margin:10px 0;
}

.card button{
    margin-bottom:15px;
    padding:10px 20px;
    background:#00A8E1;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}