* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    line-height: 1.6;
}

header {
    background: linear-gradient(90deg, #7b2cbf, #9d4edd);
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    font-size: 3rem;
}

header p {
    margin-top: 10px;
    font-size: 1.1rem;
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 30px;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #c77dff;
    margin-bottom: 15px;
}

.personagens {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #1e1e1e;
    border: 2px solid #7b2cbf;
    border-radius: 10px;
    padding: 15px;
    width: 220px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    color: #e0aaff;
    margin-bottom: 10px;
}

.curiosidades ul {
    margin-left: 20px;
}

.curiosidades li {
    margin-bottom: 10px;
}

footer {
    background-color: #1e1e1e;
    text-align: center;
    padding: 15px;
    border-top: 2px solid #7b2cbf;
}

<<<<<<< HEAD
body {
    background-color: #0f171e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}


.btn-prime {
    background: linear-gradient(90deg, #00A8E1, #0077B6);
    color: #ffffff;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 168, 225, 0.4);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-prime:hover {
    background: linear-gradient(90deg, #00C6FF, #0096D6);
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 168, 225, 0.6);
}

.btn-prime:active {
    transform: scale(0.97);
}

.btn-prime i {
    margin-right: 8px;
=======
.botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px 25px;
    text-decoration: none;

    background-color: #1e1e1e;
    color: white;

    border: 2px solid #9d4edd;
    border-radius: 10px;

    font-weight: bold;

    transition: all 0.3s ease;
}

.botao:hover {
    background-color: #7b2cbf;
    transform: scale(1.05);

    box-shadow:
        0 0 10px #9d4edd,
        0 0 20px #9d4edd,
        0 0 30px #9d4edd;
>>>>>>> 65e4fff96f89ff8a766c88ed2012f38efa9ce1c7
}